# Игнорировать файл с секретами
.env

# Игнорировать папки виртуальных окружений
venv/
env/

# Игнорировать кэш Python
__pycache__/
*.pyc

# Игнорировать логи
*.log

# Игнорировать файлы IDE и редакторов
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Игнорировать файлы системы macOS
.DS_Store
